*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: #000;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}
body{
    background-color:#f7f7f7 ;
}
.container{
    padding: 0 3vw;
}
.navbar{
   /* height: 8.5rem; */
   width:100%;
   /* background-color: #face88cc; */
   position: fixed;
   z-index: 99;
}
.svg{
   padding: 1rem 0;
   /* display: none; */
}
.nav-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-items{
   display: flex;
}
.nav-icon i{
   font-size: 2rem;
   cursor: pointer;
}
#cross{
   display: none;
   padding-right: 1rem;
}
.nav-icon{
   padding: 0.8rem 1.7rem;
   border-radius: 50px;
   background-color: #fff;
   display: flex;
}
.nav-icon .cart{
   padding-left:2rem ;
}
.nav-item{
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-item li{
   list-style: none;
}
.nav-item li:hover{
   text-decoration: underline;
}
.nav-item li a{
   font-size: 1.5rem;
   text-decoration: none;
   padding-right:2.5rem;
   color: #000;
   font-family:helvetica;
}
.nav-container2{
   height: 110vh;
   width:100%;
   margin-top: -100px;
   background-color: black;
   /* transform: translateY(-150%); */
   transition: width 0.5s ease-in-out;
   display:none;
}
.menu-items{
   display: flex;
   flex-direction: column;
   align-items: end;
   padding-top: 8rem;
   padding-right: 2rem;
   font-family:helvetica;
}
.menu-items li{
   list-style: none;
   padding: 0.5rem 0;
}
.menu-items li a:hover{
   text-decoration: underline;
}
.menu-items a{
   text-decoration: none;
   color: white;
   font-size: 2.5rem;
   font-weight: 800;
}
.about-container{
   font-family:helvetica;
   display: flex;
   justify-content: space-around;
}
.about-container h3{
   font-size: 1.2rem;
   color: #615e5e;
   padding-bottom: 1.1rem;
}
.about-container p a{
   text-decoration: none;
   color: white;
   font-size: 1.1rem;
}
.about-container p{
   padding: 0.2rem;
}
.about-container p a:hover{
   text-decoration: underline;
   color: #555;
}


.cursor{
   height: 20rem;
   width:20rem;
   background-color:#71a2c198;
   position: fixed;
   border-radius: 50%;
   transform: translate(-50%,-50%) scale(0) ;
   /* scale:0; */
   z-index: 9;
}

.cursor-effect{
   z-index: 9;
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
   padding-top: 40vh;
}

#page1 h1{
    font-family:futura;
    font-size: 14vw;
    text-transform: uppercase;
    line-height: 13.3vw;
    letter-spacing: -0.5rem;
}
/* ============video styling=================== */
.video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    /* background-color: blue; */
}
.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play{
    /* height: 2vw;
    width:2vw; */
    padding: 2.5vw 1.5vw;
    background-color: #000;
    color: #fff;
    font-family: futura;
    font-size: 1.2vw;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
/* =================image styling=============== */
/* .img-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    overflow:hidden;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
} */
 /* =================page2 item-container============= */
 .line-container{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
 }
 .line{
    border:1px solid rgba(0, 0, 0, 0.616)
 }
 .line-container p{
    font-size: 1.6rem;
    text-transform: uppercase;
 }
 .item-container{
    /* margin-top: 10vw; */
    display: flex;
    justify-content: space-between;
 }
 .item{
   height: 100vh;
    width: 32%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .item .dets{
    height: 5rem;
    width:75%;
    position: absolute;
    /* top:50%;
    left:50%;
    transform: translate((-50%,-50%)); */
    z-index: 9;
    border-radius:40px;
    color: #000;
    cursor: pointer;
 }
 .dets-container{
   display: flex;
   justify-content: space-around;
   padding-top: 2rem;
   font-family: helvetica;
 }
 .dot{
   padding: 0.5rem;
   height: 0.5rem;
   width: 0.5rem;
   background-color: black;
   border-radius: 50%;
 }
 .dets-container p{
   font-size: 1.3rem;
 }
 .dets-container h2{
     font-size: 1.4rem;
 }
 .dets-container i{
   font-size: 1.3rem;
 }
 #bg-color1{
    background-color: #fec76f;
 }
 #bg-color2{
    background-color: #71a3c1;
 }
 #bg-color3{
    background-color: #ffffff;
 }
 .item-container .item img{
    /* border: 2px solid red; */
    height: 100%;
    width:100%;
    object-fit: cover;
    scale: 1.1;
 }

.content1{
   display: none;
   width: 75%;
   position: absolute;
   top:48%;
   z-index: 8;
   border-radius: 10px 10px 20px 20px;
   background-color: #fec76f;
   transition: height 0.5s ease-in-out;
}
.content2{
   display: none;
   width: 75%;
   position: absolute;
   top:48%;
   z-index: 8;
   border-radius: 10px 10px 20px 20px;
background-color: #71a3c1;
}
.content3{
   display: none;
   width: 75%;
   position: absolute;
   top:48%;
   z-index: 8;
   border-radius: 10px 10px 20px 20px;
  background-color: white;
}
.product-container{
   display: flex;
   justify-content:center;
   align-items: center;
}   
.product-image-container{
   /* width: 100%; */
   padding-top:5.1rem;
   padding-right: 1.5rem ;
}
.product-content-container p{
  text-align: center;
  font-size: 1.25rem;
  font-family:helvetica ;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
}
.product-item1{
   width: 50%;
}
.product-item2{
   width: 50%;
}


 /* =============page3 styling============= */
 #page3{
    height: 120vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-top: 8vw;
 }
 .page3-item1{
   display: flex;
 }
 .page3-item2{
 display: flex;
 }
 .child{
    height: 55vh;
    width:40vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /* .text-container{
   height: 55vh;
   width:40vw;
 } */
 .header-text{
    font-family: futura;
  font-size: 4vw;
  text-transform: uppercase;
  line-height: 4.5vw;
  letter-spacing: -0.3rem;
 }
 #child1{
   width:50vw;
   align-items: start;
 }
 #child2{
   width:25vw;
   align-items: start;
 }
 .text{
    font-size:1.7rem;
    font-family:helvetica;
    /* text-align: center; */
 }
 .text1{
   padding-bottom: 1.5vw;
 }
 .btn1{
   font-size: 1.2rem;
   background-color: transparent;
   outline: 0;
   border: 0;
   cursor: pointer;
   margin-top: 1.5vw;
 }
 .btn{
   text-decoration: none;
   color: #000;
 }
 .btn:hover{
   text-decoration: underline;
 }
 .child img{
    height: 100%;
    width:100%;
    /* object-fit: cover; */
 }
 .link{
   font-size: 1.5vw;
   font-family:helvetica ;
   text-decoration: none;
   color: #000;
   text-align: center;
 }
 .price-div{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .line-margin{
   margin-bottom: 5rem;
 }
 .line-margin-top{
   padding-top: 10rem;
   font-size: 1.1rem;
 }
 /* ===============page4 styling================= */
.page5{
   height: 70vh;
   display: flex;
   justify-content: space-between;
   /* align-items: center; */

}
.page5-item1{
   width: 30%;
}
.page5-item2{
   display: flex;
   justify-content: space-between;
   width:60%;
}
.img-container{
   height:70vh;
   width: 48%;
}
.img-container img{
   height: 100%;
   width: 100%;
}
.page5-item1 p{
   font-size: 1.7rem;
   font-family:helvetica ;
}
.page5-item1 h2{
  font-size: 3rem;
  font-family: futura;
}
.para1{
   padding-top: 2rem;
}
.para2{
   padding: 3rem 0;
}
/* ===================page6======================== */
.page6{
   min-height: 100vh;
   font-family:  Helvetica;
}
.page6-item1{
   margin-top:10rem  ;
   display: flex;
   align-items: center;
}
.page6-item1 input::placeholder{
   color: #000;
   font-size: 2.5rem;
   font-family:  Helvetica;
   font-weight: 750;
   padding-left: 1rem;
}
.page6-item1 input {
   padding: 3rem 0;
   width: 100%;
   text-decoration: none;
   outline: 0;
   border: 0;
   color: #000;
   font-size: 2rem;
}
.input-div{
   width: 95%;
}
.icon-div{
width:10%;
background-color: #fff;
padding: 2.8rem;
}
.sendbtn{
   font-size: 3rem;
   cursor: pointer;
}
.page6-item2{
   margin: 3rem 0;
   display: flex;
   justify-content: space-between;
}
.head{
 font-size: 1.5rem;
 color: #555;
 padding-bottom: 3rem;
}
.head::selection{
   background-color:gray;
   color: #fff;
}
.page6 p{
   font-size: 1.25rem;
   color:black;
}
.about1 p{
  font-size: 1.6rem;
  padding: 0.2rem 0;
  cursor: pointer;
}
.about2 p{
   font-size: 1.6rem;
   padding: 0.2rem 0;
   cursor: pointer;
}
.about1 p:hover{
   color: #555;
   text-decoration: underline;
}
.about2 p:hover{
   color: #555;
   text-decoration: underline;
}
.logo-container{
   width:30%;
}
.logo-container img{
   width: 100%;
   height: 100%;
   border-radius: 30px;
   /* display: none; */
}
.page6-item3{
   padding: 5rem ;
   text-align: center;
}
.page6-item1 input::placeholder{
   color: #000;
   font-size: 1.3rem;
   font-family:  Helvetica;
}
.res-logo{
   height: 10rem;
   width:10rem;
   margin-top: 4rem;
}
.res-logo img{
   width:100%;
   height: 100%;
   display: none;
}
.footer-text{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 5rem;
}
 /* ===================responsibe styling============== */

 @media (max-width:1000px) {
   .page3-item1{
      flex-direction: column;
   }
   .item-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between; 
   } 
   .item{
      min-height: 75vh;
         width: 100%;
     }
     .item-container .item img{
        height: 100%;
        width:100%;
     }  
     .item .dets{
      width:40%;
     }
     .content-container{
      width: 54.5%;
     }
   #child1{
      height: 20vh;
     width:100%;
     align-items: start;
   }
   #child2{
      height: 20vh;
     width:100%;
     align-items: start;
    padding-left: 2rem;
   }
   .header-text{
      font-size: 4vw;
      line-height: 5vw;
      letter-spacing: -0.1rem;
     }
     .page5{
      flex-direction: column;
    }
    .page5-item1{
      width: 100%;
      order: 3;
      margin: 4rem 0;
   }
   .page5-item2{
      width:100%;
      order: 1;
   }
   .img-container{
      height:60vh;
   }
   .line-margin-top{
      padding-top: 1rem;
    }
    .res-logo img{
      display:block;
   }
   .logo-container img{
      display: none;
   }
   .about2{
      padding-right: 2rem;
   }
   .page6-item3{
      padding: 2rem;
      text-align: start;
   }
 }
 @media (max-width:600px) {
   .item .dets{
      width:70%;
     }
   .nav-item li a{
      display: none;
   }
   #page1{
      min-height: 70vh;
      width: 100%;
     padding-top: 25vh;
  }
  #page1 h1{
      font-size: 15.5vw;
  }
  .video-container{
      height: 27vh;
      width: 100%;
      margin-top: 4vw;
  }
 
     .item-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between; 
   } 
   .item{
    height: 50vh;
       width: 100%;
   }
   .item-container .item img{
      height: 100%;
      width:100%;
     
   }   
   .content-container{
      width: 70%;
      border-radius: 20px 20px 20px 20px;
     }
   #page3{
    height:80vh;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    /* flex-wrap: wrap; */
    margin-top: 8vw;
 }
 .page3-item1{
   flex-direction:column;
 }
 .page3-item2{
    /* flex-direction:column; */
    height: 40vh;
 }
 .child{
    width:100%;
 }
 .header-text{
  font-size: 5vw;
  line-height: 6vw;
  letter-spacing: -0.1rem;
 }
 .btn{
    
    margin:5rem 10rem;
 }
 /* #child2{
    height: 20vh;
   align-items: start;
   text-align: center;
 } */
 .child img{
    height: 100%;
    width:100%;
 }
 .link{
    font-size: 2.5vw;
  }
  .page5{
    flex-direction: column;
  }
  /* .page5-item1{
    width: 100%;
    order: 3;
    margin: 4rem 0;
 }
 .page5-item2{
    width:100%;
    order: 1;
 } */
 .img-container{
    height:20vh;
 }
 .head{
   font-size: 1.2rem;
 }
 .menu-items{
   padding-top: 12rem;
   padding-right: 3rem;
}
.menu-items li {
  padding:1rem 0;
}
.about-container{
   padding-top: 10rem;
}
}

