*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: #000;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}
body{
    background-color:#f7f7f7 ;
}
.container{
    padding: 0 3vw;
}
.cursor{
   height: 20rem;
   width:20rem;
   background-color:#71a2c198;
   position: fixed;
   border-radius: 50%;
   transform: translate(-50%,-50%) scale(0) ;
   /* scale:0; */
   z-index: 9;
}

.cursor-effect{
   z-index: 9;
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
   padding-top: 15vh;
}

#page1 h1{
    font-family:futura;
    font-size: 14vw;
    text-transform: uppercase;
    line-height: 13.3vw;
    letter-spacing: -0.5rem;
}
/* ============video styling=================== */
.video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    /* background-color: blue; */
}
.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play{
    /* height: 2vw;
    width:2vw; */
    padding: 2.5vw 1.5vw;
    background-color: #000;
    color: #fff;
    font-family: futura;
    font-size: 1.2vw;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
/* =================image styling=============== */
/* .img-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    overflow:hidden;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
} */
 /* =================page2 item-container============= */
 .line-container{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
 }
 .line{
    border:1px solid rgba(0, 0, 0, 0.616)
 }
 .line-container p{
    font-size: 1.6rem;
    text-transform: uppercase;
 }
 .item-container{
    /* margin-top: 10vw; */
    display: flex;
    justify-content: space-between;
 }
 .item{
   height: 100vh;
    width: 32%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .item .dets{
    height: 5rem;
    width:75%;
    position: absolute;
    /* top:50%;
    left:50%;
    transform: translate((-50%,-50%)); */
    z-index: 9;
    border-radius:40px;
    color: #000;
 }
 #bg-color1{
    background-color: #face88;
 }
 #bg-color2{
    background-color: #71a3c1;
 }
 #bg-color3{
    background-color: #ffffff;
 }
 .item-container .item img{
    /* border: 2px solid red; */
    height: 100%;
    width:100%;
    object-fit: cover;
    scale: 1.1;
 }
 /* =============page3 styling============= */
 #page3{
    height: 120vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-top: 8vw;
 }
 .page3-item1{
   display: flex;
 }
 .page3-item2{
 display: flex;
 }
 .child{
    height: 55vh;
    width:40vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /* .text-container{
   height: 55vh;
   width:40vw;
 } */
 .header-text{
    font-family: futura;
  font-size: 4vw;
  text-transform: uppercase;
  line-height: 4.5vw;
  letter-spacing: -0.3rem;
 }
 #child1{
   width:50vw;
   align-items: start;
 }
 #child2{
   width:25vw;
   align-items: start;
 }
 .text{
    font-size:1.7rem;
    font-family:helvetica;
    /* text-align: center; */
 }
 .text1{
   padding-bottom: 1.5vw;
 }
 .btn1{
   font-size: 1.2rem;
   background-color: transparent;
   outline: 0;
   border: 0;
   cursor: pointer;
   margin-top: 1.5vw;
 }
 .btn{
   text-decoration: none;
   color: #000;
 }
 .btn:hover{
   text-decoration: underline;
 }
 .child img{
    height: 100%;
    width:100%;
    /* object-fit: cover; */
 }
 .link{
   font-size: 1.5vw;
   font-family:helvetica ;
   text-decoration: none;
   color: #000;
   text-align: center;
 }
 .price-div{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .line-margin{
   margin-bottom: 5rem;
 }
 .line-margin-top{
   font-size: 1.1rem;
 }
 /* ===============page4 styling================= */
.page5{
   height: 70vh;
   display: flex;
   justify-content: space-between;
   /* align-items: center; */

}
.page5-item1{
   width: 30%;
}
.page5-item2{
   display: flex;
   justify-content: space-between;
   width:60%;
}
.img-container{
   height:70vh;
   width: 48%;
}
.img-container img{
   height: 100%;
   width: 100%;
}
.page5-item1 p{
   font-size: 1.7rem;
   font-family:helvetica ;
}
.page5-item1 h2{
  font-size: 3rem;
  font-family: futura;
}
.para1{
   padding-top: 2rem;
}
.para2{
   padding: 3rem 0;
}

 /* ===================responsibe styling============== */

 @media (max-width:1000px) {
   .page3-item1{
      flex-direction: column;
   }
   #child1{
      height: 20vh;
     width:100%;
     align-items: start;
   }
   #child2{
      height: 20vh;
     width:100%;
     align-items: start;
    padding-left: 2rem;
   }
   .header-text{
      font-size: 4vw;
      line-height: 5vw;
      letter-spacing: -0.1rem;
     }
     .page5{
      flex-direction: column;
    }
    .page5-item1{
      width: 100%;
      order: 3;
      margin: 4rem 0;
   }
   .page5-item2{
      width:100%;
      order: 1;
   }
   .img-container{
      height:60vh;
   }
 }
 @media (max-width:600px) {
   #page1{
      min-height: 70vh;
      width: 100%;
     padding-top: 25vh;
  }
  #page1 h1{
      font-size: 15.5vw;
  }
  .video-container{
      height: 27vh;
      width: 100%;
      margin-top: 4vw;
  }
 
     .item-container{
      display: flex;
      /* align-items: center; */
      flex-direction: column;
      justify-content: space-between; 
   }
   .item{
    height: 50vh;
       width: 100%;
   }
   .item-container .item img{
      height: 100%;
      width:100%;
     
   }   
   #page3{
    height:80vh;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    /* flex-wrap: wrap; */
    margin-top: 8vw;
 }
 .page3-item1{
   flex-direction:column;
 }
 .page3-item2{
    /* flex-direction:column; */
    height: 40vh;
 }
 .child{
    width:100%;
 }
 .header-text{
  font-size: 5vw;
  line-height: 6vw;
  letter-spacing: -0.1rem;
 }
 .btn{
    
    margin:5rem 10rem;
 }
 /* #child2{
    height: 20vh;
   align-items: start;
   text-align: center;
 } */
 .child img{
    height: 100%;
    width:100%;
 }
 .link{
    font-size: 2.5vw;
  }
  .page5{
    flex-direction: column;
  }
  /* .page5-item1{
    width: 100%;
    order: 3;
    margin: 4rem 0;
 }
 .page5-item2{
    width:100%;
    order: 1;
 } */
 .img-container{
    height:20vh;
 }
}